//- Pagination
mixin pagination(active, last)
    //- amount - amount of displayed numbers +1 prior ellipsis
    //- active - active number
    //- ellipsis - number to be replaced by ellipsis
    //- last - number after ellipsis
    .pagination
        //- prev arrow
        console.log(amount)
        console.log(active)
        console.log(last)
        before = 2
        after = 2
        if (active == 1)
            a(href=("?page=" + active-1) title="Prev page").pagination__prev.icon-pagination-prev ◀
        else

        ul.pagination__list
            //- before ellipsis
            - for (var index = active - before; index <= active; index++)
                if (index === active)
                    li.pagination__item.is-active
                        a(href=("?page=" + active) title=("Current page " + index)).pagination__number= index
                else
                    li.pagination__item
                        a(href=("?page=" + index) title=("Go to page " + index)).pagination__number= index

            - for (var index = active + 1; index <= after; index++)
                li.pagination__item
                    a(href=("?page=" + index) title="Go to pagе " + index)).pagination__number= index

        //- next arrow
        if (active == last)
            a(href=("?page=" + active-1) title="Next page").pagination__next.icon-pagination-next ▶
        else
